@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #090000fb;
  font-family: Arial;
}

svg {
    display: block;
    font: 8em 'Montserrat';
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}
.text-copys {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #cf1578;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #e8d21d;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #039fbe;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #b20238;
	animation-delay: -5s;
}
.text-copy:nth-child(6){
	stroke: #15cf18;
	animation-delay: -6s;
}


.text-copys:nth-child(1){
	stroke: #07146b;
	animation-delay: -1s;
}
.text-copys:nth-child(2){
	stroke: #0baeff;
	animation-delay: -2s;
}
.text-copys:nth-child(3){
	stroke: #fa0808;
	animation-delay: -3s;
}
.text-copys:nth-child(4){
	stroke: #510ce6;
	animation-delay: -4s;
}
.text-copys:nth-child(5){
	stroke: #68085d;
	animation-delay: -5s;
}
.text-copys:nth-child(6){
	stroke: #15cf18;
	animation-delay: -6s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}